* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 300;
}

h2 {
  font-size: 20px;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  font-weight: 300;
}

body {
  margin: 0;
}

/* ----------------------------------------- */

#header {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: block;

  padding: 5px 14px;
  border-radius: 6px;

  transition: all 0.2s ease;
}

#menu a:hover {
  color: rgba(0, 0, 0, 0.828);
  background-color: #00000019;
  padding: 5px;
  border-radius: 4px;
}

.menu-item {
  padding: 0 15px;
  position: relative;
}

.menu-item:not(:last-child)::after {
  /* vertical lines between menu items */
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* ----------------------------------------- */

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  line-height: 15px;
}

#watermark {
  text-align: center;
}

#github {
  color: black;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  gap: 6px;

  padding: 10px 14px;
  border-radius: 6px;

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.2s ease;
}

#github:hover {
  color: rgba(0, 0, 0, 0.828);
  background-color: #00000019;
  font-weight: 500;
}

#github img {
  width: 15px;
  height: 15px;
  display: block;
}

#github img {
  width: 15px;
  height: 15px;
}
